{{> welcomemenu }}

<section class="green ui center aligned middle aligned segment">
  <h1 class="blue ui header">
    Welcome to WeatherTop Inc.
  </h1>
  <h2>The web companion application for your WeatherTop device.</h2>
  <p> Track current weather readings for your location.
    <br>
    Track historical weather readings for your location.
    <br>
    Track new stations and their associated weather readings.
  </p>
  <br>

  <div class="ui equal width center aligned padded grid">
    <div class="row">
      <div class=" column">
        <h3>New to the WeatherTop app? </h3>
        <p>Click <a href="/signup">here</a> to sign up!</p>
      </div>
      <div class=" column">
        <h3>Already have an account? </h3>
        <p>Click <a href="/login">here</a> to log in!</p>
      </div>
    </div>
  </div>
</section>